@media (min-width:1921px) {
    .hslide1 {
        background-image: url("../img/hbg1-r.jpg");
    }

    .hslide2 {
        background-image: url("../img/hbg2-r.jpg");
    }

    .hslide3 {
        background-image: url("../img/hbg3-r.jpg");
    }

    .gallery {
        background-image: url("../img/gbg-r.jpg");
    }
}

@media (max-width:1600px) {
    .container {
        max-width: 87vw;
    }

    .hero__container {
        max-width: none;
    }

    .hero__subwrap {
        max-width: 87vw;
        width: 100%;
    }
}

@media (max-width:1440px) {
    .container {
        max-width: 1440px;
        margin: 0 50px;
    }

    /* .header__container {
        justify-content: space-between;
    } */

    .header__burger {
        display: inline-block;
        position: relative;
    }

    .header__logo {
        margin-right: 0;
        margin-left: calc(50% - 36px);
        transform: translateX(-50%);
    }

    .header__asearch {
        display: flex;
        margin-left: auto;
    }

    .header__search {
        left: 32px;
    }

    .header__nav {
        display: none;
    }

    .nav__link {
        font-size: 24px;
        line-height: 64px;
    }

    .nav__login {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
    }

    .nav__wrap {
        margin-bottom: 50px;
        padding: 20px 88px;
        border: 2px solid var(--purple);
        border-radius: 100px;
        background: none;
    }

    .nav__wrap:hover {
        color: #fff;
        background: var(--purple);
    }

    .nav__wrap:focus {
        outline: 2px solid var(--hovercolor);
        outline-offset: 5px;
    }

    .nav__wrap:focus-within {
        outline: 2px solid var(--hovercolor);
        outline-offset: 5px;
    }

    .nav__wrap:active {
        outline: 2px solid var(--hovercolor);
        outline-offset: 0px;
        background: var(--activecolor);
    }

    .header__burger::after, .header__burger::before {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        height: 2px;
        background-color: #fff;
        transition: transform 0.3s ease;
    }

    .burger__dec {
        position: absolute;
        top: 12px;
        width: 28px;
        left: 0;
        height: 2px;
        background-color: #fff;
        transition: transform 0.3s ease;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        width: 24px;
        bottom: 0;
    }

    .header__burger.active::before {
        width: 36px;
        transform: rotate(45deg);
        top: 13px;
    }

    .header__burger.active::after {
        width: 36px;
        transform: rotate(-45deg);
        bottom: 13px;
    }


    .header__burger.active .burger__dec {
        transform: scale(0);
    }

    .header__nav.active {
        display: flex;
        width: 100%;
        height: 686px;
        position: absolute;
        flex-direction: column;
        z-index: 2;
        top: 100px;
        left: 0;
        padding: 0 0 0 50px;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .nav__list {
        flex-flow: column wrap;
    }

    .header__bottom {
        display: none;
    }

    .asearch {
        display: block;
        padding: 0;
    }

    .asearch__input.visible {
        display: block;
    }

    .hero__container {
        margin: 0;
    }

    .hero__title {
        line-height: 90px;
    }

    .hero__content {
        padding-top: 105px;
        min-height: 562px;
    }

    .hero__subwrap {
        margin: 0 50px;
    }

    .hero__txt {
        max-width: 670px;
        margin-bottom: 132px;
    }

    .about {
        padding-bottom: 71px;
    }

    .mySwiper {
        min-height: 668px;
    }

    .gallery {
        padding-bottom: 71px;
    }

    .gallery__subwrap {
        height: 144px;
    }

    .gallery__label {
        margin-bottom: 11px;
    }

    .gallery__select {
        width: 280px;
    }

    .dropdown__list-item, #dropdown__selected {
        padding: 3px 16px;
        line-height: 28px;
    }

    .cat__txt {
        margin-bottom: 39px;
    }

    .cat__left {
        max-width: 437px;
    }

    .accordion__list {
        max-height: 384px;
    }

    .accordion__item {
        margin-right: 60px;
    }

    .events__slide {
        height: 683px;
    }

    .events__bg {
        max-height: 200px;
    }

    .ebg1 {
        background-image: url("../img/ebg1-ht.jpg");
    }

    .ebg2 {
        background-image: url("../img/ebg2-ht.jpg");
    }

    .ebg3 {
        background-image: url("../img/ebg3-ht.jpg");
    }

    .ebg4 {
        background-image: url("../img/ebg4-ht.jpg");
    }

    .ebg5 {
        background-image: url("../img/ebg5-ht.jpg");
    }

    .events__wrap {
        padding: 0 18px 0 34px;
        height: 481px;
    }

    .events__subtitle {
        margin-bottom: 6px;
    }

    .events__descr {
        margin-bottom: 6px;
        padding-right: 12px;
        text-align: end;
    }

    .events__btnwrap {
        margin-bottom: 50px;
    }

    .events-swiper-button-prev, .events-swiper-button-next {
        display: none;
    }

    .events-swiper-pagination {
        display: block;
        position: absolute;
        /* top: 100%; */
        bottom: -51px !important;
        left: calc(50% - 22px) !important;
    }

    .mySwiper3 {
        position: relative;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        margin-right: 11px !important;
    }

    .swiper-pagination-bullet-active {
        background: #666666;
    }

    .projects__container {
        padding-top: 42px;
    }

    .projects__wrapper {
        padding: 0 53px;
    }

    .projects__card {
        width: 382px;
        height: 126px;
    }

    .pbg1 {
        background-image: url("../img/proj1-t.svg");
    }

    .pbg2 {
        background-image: url("../img/proj2-t.svg");
    }

    .pbg3 {
        background-image: url("../img/proj3-t.svg");
    }

    .pbg4 {
        background-image: url("../img/proj4-t.svg");
    }

    .pbg5 {
        background-image: url("../img/proj5-t.svg");
    }

    .pbg6 {
        background-image: url("../img/proj6-t.svg");
    }

    .pbg7 {
        background-image: url("../img/proj7-t.svg");
    }

    .pbg8 {
        background-image: url("../img/proj8-t.svg");
    }

    .pbg9 {
        background-image: url("../img/proj9-t.svg");
    }

    .location {
        padding-top: 44px;
        padding-bottom: 21px;
    }

    .location__container {
        flex-direction: column;
        align-items: flex-start;
    }

    /* .location__title {
        margin-bottom: 7px;
    } */

    .location__details {
        margin-bottom: 17px;
    }

    .location__form {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .location__input {
        padding: 9px 24px;
    }

    .location__btn {
        padding: 12.5px 42.5px;
    }

    .socials__logo {
        width: 60px;
        height: 60px;
    }

    .footer {
        padding-top: 40px;
    }

    .footer__logo {
        padding-top: 7px;
    }

    .socials__link {
        margin-right: 26px;
    }

}

@media (max-width:1024px) {

    .hero__content {
        padding-top: 110px;
        min-height: 558px;
    }

    .hero__title {
        line-height: 87px;
    }

    .hslide1 {
        background-image: url('../img/hbg1-ht.jpg');
    }

    .hslide2 {
        background-image: url('../img/hbg2-ht.jpg');
    }

    .hslide3 {
        background-image: url('../img/hbg3-ht.jpg');
    }

    .about {
        padding-bottom: 70px;
    }

    .gallery-swiper-pagination {
        margin-right: 19px;
    }

    .gallery-swiper-button-prev, .gallery-swiper-button-next {
        margin-top: 4px;
        width: 26px;
        height: 26px;
    }

    .events__txt {
        max-width: 222px;
    }

    .location__wrap {
        padding-bottom: 0;
    }

    .location__details {
        margin-bottom: 29px;
    }

    .location__input {
        padding: 9px 64px 9px 24px;
    }

    .location__btn {
        padding: 12px 40px;
    }

    .contacts__link svg {
        padding-top: 0;
    }
}


@media (max-width:768px) {

    .header__burger {
        width: 54px;
        height: 27px;
    }

    .header__burger::before {
        width: 32px;
    }

    .hslide1 {
        background-image: url('../img/hbg1-t.jpg');
    }

    .hslide2 {
        background-image: url('../img/hbg2-t.jpg');
    }

    .hslide3 {
        background-image: url('../img/hbg3-t.jpg');
    }

    .header__asearch {
        width: 100vw;
        height: 100%;
        align-items: center;
    }

    .asearch__input {
        /* position: absolute; */
        width: 100vw;
    }

    .temp {
        position: absolute;
    }

    .gallery {
        padding-bottom: 69px;
    }

    .gallery__container {
        flex-direction: column;
    }

    .gallery__content1 {
        margin-bottom: 14px;
    }

    .gallery__subwrap {
        height: 82px;
    }

    .cat__txt {
        margin-bottom: 21px;
    }

    .cat__wrap {
        flex-direction: column-reverse;
    }

    .cat-left {
        margin-right: 0;
        max-width: none;
    }

    .cat__right {
        margin-bottom: 50px;
    }

    .accordion__list {
        max-height: 288px;
    }

    .accordion__item {
        margin-right: 55px;
    }

    .events {
        padding-top: 70px;
    }

    .ebg1 {
        background-image: url("../img/ebg1-t.jpg");
    }

    .ebg2 {
        background-image: url("../img/ebg2-t.jpg");
    }

    .ebg3 {
        background-image: url("../img/ebg3-t.jpg");
    }

    .ebg4 {
        background-image: url("../img/ebg4-t.jpg");
    }

    .ebg5 {
        background-image: url("../img/ebg5-t.jpg");
    }

    .events__wrap {
        padding: 0 20px 0 34px;
    }

    .events__txt {
        max-width: 260px;
    }

    .events__descr {
        padding-right: 0;
    }

    .events__subtitle {
        margin-bottom: 3px;
    }

    .events-swiper-pagination {
        bottom: -49px !important;
        left: calc(50% - 34px) !important;
    }

    .projects__title {
        margin-bottom: 13px;
    }

    .projects__subtitle {
        margin-bottom: 30px;
    }

    .projects__txt {
        max-width: 656px;
        margin-bottom: 28px;
    }

    .pl-t {
        display: inline;
    }

    .pl-d {
        display: none;
    }

    .projects__card {
        width: 262px;
        height: 104px;
    }

    .projects__bg {
        background-size: 80% 50%;
    }

    .location {
        padding-bottom: 22px;
    }

    .location__form {
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .location__input {
        max-width: 270px;
        width: 100%;
        margin-bottom: 12px;
        padding: 10px 28px 11px 24px;
    }

    .location__input:last-of-type {
        margin-right: 0;
    }

    .location__btn {
        padding: 10px 28px;
    }
}

@media (max-width:420px) {

    .container {
        margin: 0 15px;
    }

    .title {
        margin-bottom: 12px;
        font-size: 28px;
        line-height: 38px;
    }

    .about, .cat, .gallery, .events, .projects {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .about {
        padding-bottom: 41px;
    }

    .header {
        min-height: 45px;
    }

    .header__container {
        height: 45px;
    }

    .header__burger {
        width: 26px;
    }

    .header__burger::before {
        width: 25px;
        top: 4px;
    }

    .burger__dec {
        width: 16px;
    }

    .header__burger::after {
        width: 10px;
        bottom: 5px;
    }

    .header__logo {
        margin-left: calc(50% - 5px);
    }

    .asearch svg {
        width: 18px;
        height: 22px;
    }

    .hero__container {
        margin: 0;
    }

    .hero__content {
        padding-top: 30px;
        min-height: 280px;
    }

    .hero__subwrap {
        margin: 0 32px;
    }

    .hero__title {
        margin-bottom: 11px;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
    }

    .hero__txt {
        margin-bottom: 40px;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
    }

    .hero__btnwrap {
        text-align: center;
        padding-right: 22px;
    }

    .hero__btn {
        padding: 12px 18px;
        font-size: 12px;
        line-height: 16px;
    }

    .mySwiper {
        min-height: 310px;
        height: 310px;
    }

    .hslide1 {
        background-image: url("../img/hbg1-m.jpg");
    }

    .hslide2 {
        background-image: url("../img/hbg2-m.jpg");
    }

    .hslide3 {
        background-image: url("../img/hbg3-m.jpg");
    }

    .about__txt {
        font-size: 14px;
        line-height: 28px;
    }

    .gallery {
        padding-bottom: 20px;
    }

    .gallery__label {
        margin-bottom: 5px;
    }

    .gallery__select {
        width: 290px;
    }

    .gallery__subwrap {
        height: 71px;
    }

    .gallery__content1 {
        margin-bottom: 29px;
    }

    .gallery__content2 {
        display: flex;
        min-width: 0;
        margin-top: 0;
        flex-direction: column-reverse;
    }

    .mySwiper2 {
        min-width: 0;
        margin-bottom: 6px;
        max-height: none;
    }

    .gallery__btnwrap {
        justify-content: center;
    }

    .cat__txt {
        display: none;
    }

    .accordion__list {
        max-height: none;
    }

    .accordion__summary {
        padding: 20px 0;
        font-size: 18px;
        line-height: 31px;
    }

    .accordion__item {
        margin-right: 0;
    }

    .accordion__descr, .accordion__subtitle {
        line-height: 20px;
    }

    .accordion__subtitle {
        margin-bottom: 6px;
    }

    .collapse-init summary::after {
        content: url("../img/acc-m.svg");
        float: right;
        width: 30px;
        height: 30px;
        margin-top: 0;
        padding-top: 0;
        border-radius: 50%;
    }

    [open] summary::after {
        content: url("../img/acc-act-m.svg");
    }

    .details-styling {
        padding: 20px 0;
    }

    .cat {
        padding-bottom: 0;
    }

    .cat__right {
        margin-bottom: 51px;
    }

    .cat-left__img {
        margin-bottom: 11px;
    }

    .cat-left__txt {
        max-width: 289px;
    }

    .cat__subtitle {
        line-height: 36px;
    }

    .events {
        padding-bottom: 0;
    }

    .events__descr {
        padding-top: 18px;
        padding-right: 18px;
        margin-bottom: 10px;
    }

    .events__wrap {
        padding: 0 0 0 23px;
    }

    .events__txt {
        max-width: 234px;
    }

    .events__btnwrap {
        margin-bottom: 46px;
        padding-left: 4px;
    }

    .events-swiper-pagination {
        bottom: -41px !important;
        left: calc(50% - 59px) !important;
    }

    /* .events-swiper-button-prev, .events-swiper-button-next {
        width: 20px;
        height: 20px;
    } */

    .projects {
        padding-top: 40px;
        padding-bottom: 0;
    }

    .projects__wrapper {
        padding: 0 47px;
    }

    .projects__subtitle {
        margin-bottom: 12px;
        font-size: 18px;
        line-height: 32px;
    }

    .projects__txt {
        margin-bottom: 10px;
    }

    .pl-t {
        display: none;
    }

    .pl-m {
        display: block;
    }

    .projects__card {
        width: 193px;
        height: 63px;
    }

    .projects__bg {
        background-size: 60% 40%;
    }

    .location {
        padding-bottom: 10px;
    }

    .location__wrap {
        margin-right: 0;
    }

    .location__title {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 24px;
    }

    .location__details {
        margin-bottom: 18px;
        font-size: 14px;
        line-height: 19px;
    }

    .location__form {
        margin-bottom: 20px;
    }

    .location__input {
        margin-right: 0;
        margin-bottom: 20px;
        padding: 4px 24px;
    }

    .location__btn {
        padding: 10px 32px;
        font-size: 12px;
        line-height: 16px;
    }

    .location__btn span {
        display: none;
    }

    .contacts__txt {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
    }

    .contacts__link {
        margin-right: 15px;
    }

    .contacts__link svg {
        padding-top: 0;
        padding-left: 0;
        width: 50px;
        height: 50px;
    }

    #map {
        height: 320px;
    }

    .footer {
        padding-top: 20px;
        height: 112px;
    }

    .footer__logo {
        padding-top: 10px;
    }

    .footer__container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .socials__logo {
        width: 50px;
        height: 50px;
    }
}