.dropdown {
    padding: 0;
    list-style: none;
    position: relative;
    width: 400px;
    border: 1px solid #fff;
    border-radius: 6px;
    /* height: 40px; */
    cursor: pointer;
    color: #fff;
}

.dropdown__arrow {
    position: absolute;
    right: 15px;
    top: 15px;
    transition: transform 0.2s linear;
}

.dropdown__arrow.expanded {
    transform: rotate(-180deg);
}

.dropdown__list {
    width: 100%;
    position: absolute;
    left: 0;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    transition: opacity 0.1s cubic-bezier(0, 0, 0.38, 0.9), max-height 0.5s cubic-bezier(0, 0, 0.38, 0.9);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.dropdown__list-container {
    position: relative;
}

.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown__list-item {
    padding: 10px 0px;
    padding-left: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    list-style-position: inside;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    line-height: 1;
    background: #000;
    transition: background-color 0.1s linear, color 0.1s linear;
}

.dropdown__list-item:last-child {
    border-bottom: none;
}

.dropdown__list-item:hover, .dropdown__list-item:focus {
    background-color: rgba(194, 131, 243, 0.4);
}

#dropdown__selected {
    color: #fff;
    padding: 4px 20px;
    padding-left: 15px;
    list-style-position: inside;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#dropdown__selected:focus {
    outline: 1px solid #00c2ff;
}

.open {
    opacity: 1;
    overflow: auto;
    max-height: 15rem;
}